<div id="shopify-section-footer " class="shopify-section ">
    <footer>
    <div class="container">
      <div class="row nav">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a class="ftr-logo-text" href="" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1301/2801/t/5/assets/ftr-logo Copy.png" class="logo"></a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6">
          <ul>
            <li><a href="science">Science</a></li>
            <li><a href="who_we_are">Who We Are</a></li>
            <li><a href="mailto:customercare@truniagen.com">Contact Us</a></li>
            <li><a href="account">Log In</a></li>
          </ul>
        </div>
      </div>
      <div class="row"><div class="col-sm-12"><hr></div></div>
      <div class="row nav disclaimer-nav">
        <div class="col-lg-8 col-md-8 col-sm-12 large-8 columns" id="disclaimer-box">
            <p>Chromadex, Inc., 10005 Muirlands Blvd #G, Irvine, CA 92618 USA By: Lief Organics, Inc. © 2017 Healthspan Research, LLC. All Rights Reserved. (888) 642-4361<br>
                <br>
                <span class="full-disclaimer">
                    * These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.
                </span>
                <br>
                <a class="disclaimer-link" href="<?php echo SHOPIFY_SERVER_BASE_URL ?>/pages/disclaimer" target="_blank">SEE FULL DISCLAIMER</a>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 ol-sm-12 large-4 columns">
          <ul>
            <li><a href="https://angel.co/truniagen/jobs" target="_blank">Careers</a></li>
            <li><a href="pages/faq" target="_blank">FAQ</a></li>
            <li><a href="pages/terms" target="_blank">Terms of use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <div id="left "></div>
  <div id="right "></div>
  <div id="top "></div>
  <div id="bottom "></div>

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPN2sa5BHwXr95uOJ5qsEjkbutd-1IUqs&libraries=places&callback=initAutocomplete " async defer></script>-->
    <img src="assets/images/top-right-hex-dark.svg " class="top-right-hex dark-hex img100 ">
    <img src="assets/images/top-left-hex-dark.svg " class="top-left-hex dark-hex img100 ">

</div>

<style>.center-image{text-align:center;}</style>
<script type="text/javascript ">
    var baseurl = "https://app.truniagen.com/ ";
</script>
<script>
    $(".fill1 ").attr("fill ","#06ADC5 ");
    var prevClass = '.fill1';
    $("#Rectangle-2-Copy-202 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill1 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Bieganowski and Brenner,2004</b> at<b>Dartmouth University</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/15137942 ">Read more</a></div><p>"Nicotinamide riboside is discovered as a NAD+ precursor. "</p>');
        prevClass = '.fill1';
    });
    $("#Rectangle-2-Copy-323 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill2 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Belenky, Racette et al. 2007</b> at <b>Dartmouth University</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/17482543 ">Read more</a></div><p>"NR increases NAD+ levels through two pathways. NR also improves yeast longevity through a NAD+ dependent mechanism.. "</p>');
        prevClass = '.fill2';
    });
    $("#Rectangle-2-Copy-336 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill3 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Tempel,Rabeh et al. 2007</b> at <b>Dartmouth University</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/17914902 ">Read more</a></div><p>"New metabolic pathways to NAD+ discovered. "</p>');
        prevClass = '.fill3';
    });
    $("#Rectangle-2-Copy-401 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill4 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Evans, Bogan et al. 2010 </b>at <b>University of Iowa</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/20175898 ">Read more</a></div><p>"Evidence found that NAD+ precursor vitamins and calorie restriction could extend lifespan. "</p>');
        prevClass = '.fill4';
    });
    $("#Rectangle-2-Copy-452 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill5 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Massudi, Grant et al. 2012</b> at <b>University of New South Wales</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/22848760 ">Read more</a></div><p>"Studies with human tissue show NAD+ levels decrease as we age. Between an adult’s 40s and 60s, NAD+ levels decrease by as much as half. "</p>');
        prevClass = '.fill5';
    });
    $("#Rectangle-2-Copy-482 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill6 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Trammell and Brenner 2013</b> at <b>University of Iowa</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/24688693 ">Read more</a></div><p>"Better quantitation methods created for measuring Nicotinamide riboside. "</p>');
        prevClass = '.fill6';
    });
    $("#Rectangle-2-Copy-532 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill7 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Trammell, Yu et al. 2016</b> at <b>University of Iowa</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/27052539 ">Read more</a></div><p>"Nicotinamide riboside is measured as a major NAD+ precursor in cow’s milk. "</p>');
        prevClass = '.fill7';
    });
    $("#Rectangle-2-Copy-542 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill8 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Trammell, Schmidt et al. 2016</b> at <b>University of Iowa</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/27721479 ">Read more</a></div><p>"Supplementation with Nicotinamide riboside increases NAD+ levels in both mice and humans. "</p>');
        prevClass = '.fill8';
    });
    $("#Rectangle-2-Copy-552 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill9 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Conze, Crespo-Barreto et al. 2016</b> at <b>Spherix Consulting, a Division of ChromaDex Inc.</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/26791540 ">Read more</a></div><p>"Nicotinamide riboside has been tested for safety with high doses in rats. "</p>');
        prevClass = '.fill9';
    });
    $("#Rectangle-2-Copy-572 ").hover(function(){
        $(prevClass).attr("fill ","none ");
        $(".fill10 ").attr("fill ","#06ADC5 ");
        $("#quotation-div ").html('<div class="written-div clearfix "><div class="written-inner ">Written by <b>Ratajczak, Joffraud et al. 2016</b> at <b>Nestlé Institute of Health Sciences (NIHS)</b></div><a target="_blank " href="https://www.ncbi.nlm.nih.gov/pubmed/22848760 ">Read more</a></div><p>"NR increased NAD+ levels more than supplements of nicotinamide (Nam) or nicotinamide mononucleotide (NMN). "</p>');
        prevClass = '.fill10';
    });
    //carousel slider control
    var checkitem = function() {
      var $this;
      $this = $("#carousel-example ");
      if ($("#carousel-example .carousel-inner .item:first ").hasClass("active ")) {
        $this.children(".left ").hide();
        $this.children(".right ").show();
      } else if ($("#carousel-example .carousel-inner .item:last ").hasClass("active ")) {
        $this.children(".right ").hide();
        $this.children(".left ").show();
      } else {
        $this.children(".carousel-control ").show();
      }
    };
    checkitem();
    $("#carousel-example ").on("slid.bs.carousel ", " ", checkitem);
</script>

<script type="text/javascript " id=" ">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0 ",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script ","https://connect.facebook.net/en_US/fbevents.js ");fbq("init ","1043227149059729 ");fbq("track ","PageView ");</script>
<noscript>
 &lt;img height="1 " width="1 " src="https://www.facebook.com/tr?id=1043227149059729&amp;amp;ev=PageView &amp;amp;noscript=1 "&gt;
</noscript>

<script type="text/javascript " id="hs-script-loader " src="assets/js/3867356(1).js "></script><script type="text/javascript " id=" ">(function(d,a,b,f,e){d[e]=d[e]||[];d[e].push({projectId:"10000 ",properties:{pixelId:"10038940 "}});var c=a.createElement(b);c.src=f;c.async=!0;c.onload=c.onreadystatechange=function(){var a=this.readyState,c=d[e];if(!a||"complete "==a||"loaded "==a)try{var b=YAHOO.ywa.I13N.fireBeacon;d[e]=[];d[e].push=function(a){b([a])};b(c)}catch(g){}};a=a.getElementsByTagName(b)[0];b=a.parentNode;b.insertBefore(c,a)})(window,document,"script ","https://s.yimg.com/wi/ytc.js ","dotq ");</script><script type="text/javascript " id=" ">fbq("track ","AddToCart ");</script><div style="width:0px; height:0px; display:none; visibility:hidden; " id="batBeacon0.07335572849071026 "><img style="width:0px; height:0px; display:none; visibility:hidden; " id="batBeacon0.15492270605685254 " width="0 " height="0 " alt=" " src="assets/js/0 "></div><script type="application/javascript " id="ywa-1511503377449-447512 " class="ywa-10000 " defer=" " src="assets/js/sp.pl.download "></script>
<iframe name="_hjRemoteVarsFrame " title="_hjRemoteVarsFrame " id="_hjRemoteVarsFrame " src="./tru_niagen_home_files/rcj-99d43ead6bdf30da8ed5ffcb4f17100c.html " style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important; "></iframe><div id="ads "></div><div class="basketapp-quicksavebutton " style="background:rgba(0,0,0,0.3) url(chrome-extension://eblfjognkmbgmhfnkekoibgmohnhcbel/images/sprites/basketapp_saver.png) ">
</div>
